@media only screen and (max-width: 850px) {
  html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

    #maincontent {
        background-color: #f0eaea;
        min-height: 100%;
      }
      nav h1 {
        padding: 10px 40px 16px;
    }
    #breadcrumb {
      width: 100%;
  }

    .inside #map-container {
      background: blue none repeat scroll 0 0;
      height: 360px;
      position: relative;
      top: 130px;
      width: 100%;
      }


      #restaurant-container{
        width:100%;
        position: relative;
        top: 50px;
    
      }
      #reviews-container {
        position: relative;
        top: 20px;
    
      }


}