@media only screen and (max-width: 850px) {
    /* hard reset */
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        padding: 0;
        margin: 0;
    }
    html {
        margin: 0px;
        height: 100%;
    }
    .inside header {
        z-index: 1200;
    }
    nav h1 {
        padding: 10px 40px 16px;
    }
    #breadcrumb {
        width: 100%;
    }
    .inside #map-container {
        height: 360px;
        position: relative;
        width: 100%;
    }
    .leaflet-container .leaflet-top {
        position: relative;
        top: 50px;
    }
    #restaurant-container {
        width: 100%;
        position: relative;
        padding-top: 100px;
    }
    #reviews-container {
        width: 100%;
        position: static;
        box-sizing: border-box;
    }
    #reviews-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #reviews-list li {
        width: 100%;
    }
    .inside #footer {
        width: 100%;
    }
}